html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100dvh;
}

.circle {
  background-color: rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 35px;
  border-radius: 100%;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
    scale: 110%;
  }
}